body{
    font-family:"Work Sans", Arial, Helvetica, sans-serif;
   /*Medidas Absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw,vh, %
    16px Geralmente = 1em
    */
    font-size: 1em;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    /* lighter, normal, bold, bolder*/
}
h1{
    font: italic bolder 3em "Work Sans", sans-serif; 
    /* Shorthand font 
    - font-style -> font-weight -> font-size -> font-family

    font-family: "Work Sans" sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;
    */
} 
h2{
    font:  bolder 3em "Work Sans", Sans-serif;
}

